<div class="text-center">
  <h1 class="mb-4">Bem-vindo ao Sistema Férias Legais</h1>
  <p class="lead">Este sistema permite cadastrar, calcular, exportar e importar dados relacionados às férias dos funcionários com base na legislação trabalhista.</p>
  <a href="/servicos" class="btn btn-primary mt-4">Acessar Registros</a>
</div>
